
.accordion-button{
    background-color: #13151F !important
}

.tox {
    .tox-mbtn__select-label {
        color: #6C757E !important;
    }

    .tox-menubar{
        background-color: #13151F !important;
    }

    .tox-toolbar__primary{
        background-color: #13151F !important;
    }

    .tox-tbtn{
        color: #6C757E !important;

        svg{
            fill: #6C757E !important;
        }
    }

    .tox-edit-area__iframe{
        background-color: #13151F !important;
        color: white;
    }

    .tox-statusbar{
        background-color: #13151F !important;

        a {
            color: #6C757E !important;
        }
    }
    .tox-statusbar__path-item{
        color: #6C757E !important;
    }

    .tox-menu{
        background-color: #13151F !important;
        //color: #6C757E !important;
    }
    .tox-collection__item{
        color: #6C757E !important;

        :active  {
            background-color: #262832;
        }
    }

    .tox-collection--list{
        .tox-collection__item--active {
            background-color: #262832 !important;
        }
        .tox-collection__item--enabled{
            background-color: #13151F !important;
        }
    }
    .tox-tbtn:hover{
        background-color: #262832 !important;
    }
    .tox-tbtn--enabled{
        background :#262832 !important
    }
    .tox-mbtn:hover:not(:disabled):not(.tox-mbtn--active){
        background :#262832 !important
    }
    .tox-mbtn--active{
        background :#262832 !important
    }
}
.mce-content-body {
    color: white;
}
.mce-content-body {
    overflow-wrap: break-word;
    word-wrap: break-word;
    color: white;
}
.custom-card-layout :hover{
    color: #009ef7;
    border-color: #009ef7;
    background-color: #262832 !important;
   
}
.btn-check:checked + .btn.btn-outline.btn-outline-dashed.btn-outline-default, .show > .btn.btn-outline.btn-outline-dashed.btn-outline-default {
    color: #009ef7;
    border-color: #009ef7;
    background-color: #262832 !important;
}



.add-post-card .item-icon {
    background-color: transparent;
    border-radius: 100%;
    height: 80px;
    line-height: 80px;
    margin: 0 auto;
    text-align: center;
    width: 80px;
}

.add-post-card .item-icon .icon-article {
    color: #009ef7;
    font-size: 48px;
}

.swal-modal .swal-text {
    text-align: center;
}

.border-color .width-custom {
    -o-object-fit: cover;
    object-fit: cover;
    width: 100px;
}

.width-custom {
    height: 70px;
    min-width: 100px;
}

.Add-post-modal-img {
    padding: 0.25rem;
    background-color: #262832;
    border: 1px solid #262832;
    border-radius: 0.475rem;
    box-shadow: 0 0.1rem 1rem 0.25rem rgb(0 0 0 / 5%);
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

.h-100px {
    height: 100px !important;
}

.custom-break {
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    overflow: hidden;
    word-break: break-all;
}

.Add-post-modal {
    border-width: 1px;
    border-style: dashed;
    color: #7e8299;
    border-color: #e4e6ef;
}

.additional-images .border-color {
    border: 2px dashed #262832;
    color: #7e8299;
    height: 130px;
    margin: 0 0 10px 10px;
    padding: 3px;
    width: 120px;
}

.width-custom {
    -o-object-fit: cover;
    object-fit: cover;
    width: 100px;
}

.text-hover-primary:hover {
    transition: color .2s ease, background-color .2s ease;
    color: #009ef7 !important;
    background-color: rgb(224, 227, 255);
}

.option {
    .dropdown-menu {
        min-width: 200px;
        font-size: 13px;
    }
    .dropdown-item {
        padding-top: 12px;
    }
}
.w-125px {
    width: 125px !important;
}

.w-60px {
    width: 60px !important;
}

.h-125px {
    height: 125px !important;
}

.h-60px {
    height: 60px !important;
}
.vote-progressbar {
    height: 1.0rem !important;
}
.custom-object-fit{
    object-fit: cover;
}
.overflow-x-hidden{
    overflow-x: hidden !important;
}

.daterangepicker {
    .drp-calendar {
        .calendar-table tr td {
            background-color: rgb(20,21,31);
        }
    }
    select.monthselect {
        background-color: #262832;
        color:#6c757e!important;
    }
    select.yearselect {
        background-color: #262832;
        color: #6c757e!important;
    }
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}
