.add-post-card .item-icon {
  background-color: transparent;
  border-radius: 100%;
  height: 80px;
  line-height: 80px;
  margin: 0 auto;
  text-align: center;
  width: 80px;
}

.add-post-card .item-icon .icon-article {
  color: #009ef7;
  font-size: 48px;
}

.swal-modal .swal-text {
  text-align: center;
}

.border-color .width-custom {
  -o-object-fit: cover;
  object-fit: cover;
  width: 100px;
}

.width-custom {
  height: 70px;
  min-width: 100px;
}

.Add-post-modal-img {
  padding: 0.25rem;
  background-color: #fff;
  border: 1px solid #e4e6ef;
  border-radius: 0.475rem;
  box-shadow: 0 0.1rem 1rem 0.25rem rgba(0, 0, 0, 0.05);
  max-width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

.h-100px {
  height: 100px !important;
}

.custom-break {
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  overflow: hidden;
  word-break: break-all;
}

.Add-post-modal {
  border-width: 1px;
  border-style: dashed;
  color: #7e8299;
  border-color: #e4e6ef;
}

.additional-images .border-color {
  border: 2px dashed #e4e6ef;
  color: #7e8299;
  height: 130px;
  margin: 0 0 10px 10px;
  padding: 3px;
  width: 120px;
}

.width-custom {
  -o-object-fit: cover;
  object-fit: cover;
  width: 100px;
}

.text-hover-primary:hover {
  transition: color 0.2s ease, background-color 0.2s ease;
  color: #009ef7 !important;
  background-color: #e0e3ff;
}

.option .dropdown-menu {
  min-width: 200px;
  font-size: 13px;
}
.option .dropdown-item {
  padding-top: 12px;
}

.w-125px {
  width: 125px !important;
}

.w-60px {
  width: 60px !important;
}

.h-125px {
  height: 125px !important;
}

.h-60px {
  height: 60px !important;
}

.vote-progressbar {
  height: 1rem !important;
}

.custom-object-fit {
  -o-object-fit: cover;
     object-fit: cover;
}

.overflow-x-hidden {
  overflow-x: hidden !important;
}

.custom-card-layout :hover {
  color: #009ef7;
  border-color: #009ef7;
  background-color: #f1faff !important;
}

.btn-check:checked + .btn.btn-outline.btn-outline-dashed.btn-outline-default, .show > .btn.btn-outline.btn-outline-dashed.btn-outline-default {
  color: #009ef7;
  border-color: #009ef7;
  background-color: #f1faff !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.ad-banner-img-preview {
  height: 100px;
  width: 100%;
  overflow: hidden;
}

.ad-banner-img-preview img {
  height: 100px;
  width: 800px;
  overflow: hidden;
}

.ad-banner-img-previewM {
  height: 250px;
  width: 100%;
  overflow: hidden;
}

.ad-banner-img-previewM img {
  height: 250px;
  width: 300px;
  overflow: hidden;
}

.content {
  background-color: #EFF3F7;
}

.footer {
  background-color: #EFF3F7;
}

.badge-tag {
  left: -22px;
  top: 2px;
  transform: rotate(-34deg) !important;
  padding: 5px;
  font-size: 10px;
  border-radius: 0;
  width: 70px;
}

.post-reaction-count {
  border-radius: 15px;
  position: absolute;
  top: -19px;
  right: 16px;
  display: inline-block;
  min-width: 29px;
  opacity: 0.8;
  font-weight: 400;
  color: #fff;
  font-size: 10px;
  background: black;
}

.post-reaction .emoji {
  width: 105px;
  margin-bottom: 5px;
  float: left;
}

.post-reaction span {
  font-size: 50px;
}

.offcanvas {
  z-index: 1050 !important;
}

.create-post-container .offcanvas {
  position: fixed;
  bottom: 0;
  z-index: 1045;
  display: flex;
  flex-direction: column;
  max-width: 100%;
  visibility: hidden;
  background-color: #fff;
  background-clip: padding-box;
  outline: 0;
  transition: transform 0.3s ease-in-out;
}
@media (prefers-reduced-motion: reduce) {
  .create-post-container .offcanvas {
    transition: none;
  }
}
.create-post-container .offcanvas-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1040;
  width: 100vw;
  height: 100vh;
  background-color: #000;
}
.create-post-container .offcanvas-backdrop.fade {
  opacity: 0;
}
.create-post-container .offcanvas-backdrop.show {
  opacity: 0.5;
}
.create-post-container .offcanvas-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 1rem;
}
.create-post-container .offcanvas-header .btn-close {
  padding: 0.5rem 0.5rem;
  margin-top: -0.5rem;
  margin-right: -0.5rem;
  margin-bottom: -0.5rem;
}
.create-post-container .offcanvas-title {
  margin-bottom: 0;
  line-height: 1.5;
}
.create-post-container .offcanvas-body {
  flex-grow: 1;
  padding: 1rem 1rem;
  overflow-y: auto;
}
.create-post-container .offcanvas-start {
  top: 0;
  left: 0;
  width: 400px;
  border-right: 1px solid rgba(0, 0, 0, 0.2);
  transform: translateX(-100%);
}
.create-post-container .offcanvas-end {
  top: 0;
  right: 0;
  width: 400px;
  border-left: 1px solid rgba(0, 0, 0, 0.2);
  transform: translateX(100%);
}
.create-post-container .offcanvas-top {
  top: 0;
  right: 0;
  left: 0;
  height: 30vh;
  max-height: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  transform: translateY(-100%);
}
.create-post-container .offcanvas-bottom {
  right: 0;
  left: 0;
  height: 30vh;
  max-height: 100%;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  transform: translateY(100%);
}
.create-post-container .offcanvas.show {
  transform: none;
}

.post-offcanvas-container .offcanvas {
  position: fixed;
  bottom: 0;
  z-index: 1045;
  display: flex;
  flex-direction: column;
  max-width: 100%;
  visibility: hidden;
  background-color: #fff;
  background-clip: padding-box;
  outline: 0;
  transition: transform 0.3s ease-in-out;
}

@media (prefers-reduced-motion: reduce) {
  .create-post-container .offcanvas {
    transition: none;
  }
}
.post-offcanvas-container .offcanvas-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1040;
  width: 100vw;
  height: 100vh;
  background-color: #000;
}

.post-offcanvas-container .offcanvas-backdrop.fade {
  opacity: 0;
}

.post-offcanvas-container .offcanvas-backdrop.show {
  opacity: 0.5;
}

.post-offcanvas-container .offcanvas-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 1rem;
}

.post-offcanvas-container .offcanvas-header .btn-close {
  padding: 0.5rem 0.5rem;
  margin-top: -0.5rem;
  margin-right: -0.5rem;
  margin-bottom: -0.5rem;
}

.post-offcanvas-container .offcanvas-title {
  margin-bottom: 0;
  line-height: 1.5;
}

.post-offcanvas-container .offcanvas-body {
  flex-grow: 1;
  padding: 1rem 1rem;
  overflow-y: auto;
}

.post-offcanvas-container .offcanvas-start {
  top: 0;
  left: 0;
  width: 400px;
  border-right: 1px solid rgba(0, 0, 0, 0.2);
  transform: translateX(-100%);
}

.post-offcanvas-container .offcanvas-end {
  top: 0;
  right: 0;
  width: 400px;
  border-left: 1px solid rgba(0, 0, 0, 0.2);
  transform: translateX(100%);
}

.post-offcanvas-container .offcanvas-top {
  top: 0;
  right: 0;
  left: 0;
  height: 30vh;
  max-height: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  transform: translateY(-100%);
}

.post-offcanvas-container .offcanvas-bottom {
  right: 0;
  left: 0;
  height: 30vh;
  max-height: 100%;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  transform: translateY(100%);
}

.post-offcanvas-container .offcanvas.show {
  transform: none;
}
