.fs-20 {
    font-size: 20px
}

.fs-18 {
    font-size: 18px
}

.fs-16 {
    font-size: 16px;
    line-height: 26px
}

.fs-14 {
    font-size: 14px;
    line-height: 23px
}

.fs-12 {
    font-size: 12px;
    line-height: 20px
}

.fw-6, h5 {
    font-weight: 600 !important
}

.fw-7 {
    font-weight: 700 !important
}

.text-black {
    color: #32404d !important
}

.text-gray {
    color: #8a8f95 !important
}

.br-gray {
    border-right: 1px solid #e8e8e8
}

@media (max-width: 575px) {
    .br-gray {
        border-right: none
    }
}

.br-gray-100 {
    border: 1px solid #e8e8e8
}

.bg-light {
    background-color: #f8f8f8 !important
}

.py-20 {
    padding: 20px 0
}

.py-60 {
    padding: 60px 0
}

@media (max-width: 991px) {
    .py-60 {
        padding: 50px 0
    }
}

.px-30 {
    padding: 0 30px
}

@media (max-width: 575px) {
    .px-30 {
        padding: 0 20px
    }
}

.px-40 {
    padding: 0 40px
}

@media (max-width: 575px) {
    .px-40 {
        padding: 0 20px
    }
}

.pt-40 {
    padding-top: 40px
}

.pt-60 {
    padding-top: 60px
}

@media (max-width: 991px) {
    .pt-60 {
        padding-top: 50px
    }
}

.pt-100 {
    padding-top: 100px
}

@media (max-width: 991px) {
    .pt-100 {
        padding-top: 50px
    }
}

.py-100 {
    padding: 100px 0
}

@media (max-width: 991px) {
    .py-100 {
        padding: 50px 0
    }
}

.mb-40 {
    margin-bottom: 40px
}

@media (max-width: 575px) {
    .mb-40 {
        margin-bottom: 20px
    }
}

.tags {
    font-size: 10px;
    padding: 6px 10px;
    background-color: #f57b20;
    color: #fff !important;
    top: 0;
    left: 0
}

.mb-20 {
    margin-bottom: 20px
}

.mb-30 {
    margin-bottom: 30px
}

h1, .fs-24 {
    font-size: 24px;
    line-height: 34px;
    font-weight: 700
}

@media (max-width: 767px) {
    h1, .fs-24 {
        font-size: 20px;
        line-height: 30px
    }
}

h2 {
    font-size: 28px;
    line-height: 39px;
    font-weight: 700
}

@media (max-width: 767px) {
    h2 {
        font-size: 22px;
        line-height: 28px
    }
}

@media (max-width: 480px) {
    h2 {
        font-size: 20px;
        line-height: 24px
    }
}

h3 {
    font-size: 20px;
    line-height: 32px
}

@media (max-width: 575px) {
    h3 {
        font-size: 18px;
        line-height: 28px
    }
}

a {
    text-decoration: none
}

li {
    list-style: none
}

.breaking-news-section {
    background-color: #32404d
}

.breaking-news-section .title .icon {
    mIN-width: 28px;
    max-width: 28px;
    width: 28px;
    height: 28px;
    border-radius: 50px
}

.breaking-news-section .title .fa-circle {
    font-size: 5px
}

.breaking-news-section .title .content a {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden
}

.top-bar-logo, .footer-logo {
    width: 60px;
    height: 60px;
    -o-object-fit: contain;
    object-fit: contain
}

.social-icon i:hover {
    color: #f57b20 !important
}

.btn {
    padding: 8px 15px;
    box-shadow: none !important;
    border-radius: 0 !important;
    z-index: 3;
    left: 20px;
    top: 0
}

.btn-primary {
    color: #fff !important;
    background-color: #f57b20;
    border: 1px solid #f57b20 !important
}

.card {
    border: none;
    border-radius: 0 !important
}

.card .card-img-top {
    width: 100%;
    border-radius: 0 !important;
    box-shadow: 0px 5px 30px rgba(0, 0, 0, .05)
}

.card .card-img-top img {
    width: 100%
}

.card .card-body {
    padding: 10px 0 0 0 !important
}

@media (min-width: 575px)and (max-width: 1199px) {
    .border-none {
        border-bottom: 0 !important
    }
}

@media (min-width: 575px)and (max-width: 991px) {
    .border-md-none {
        border-bottom: 0 !important
    }
}

.overlay {
    z-index: 2;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: .7;
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.85))
}

img {
    -o-object-fit: cover;
    object-fit: cover
}

.section-heading {
    border-bottom: 1px solid #e8e8e8
}

.section-heading h2 {
    position: relative !important
}

.section-heading h2:after {
    content: "";
    display: block;
    background-color: #f57b20;
    top: 50%;
    left: 200px;
    position: absolute;
    width: 80px;
    height: 4px
}

@media (max-width: 1199px) {
    .section-heading h2:after {
        width: 60px;
        left: 192px
    }
}

@media (max-width: 767px) {
    .section-heading h2:after {
        left: 155px
    }
}

@media (max-width: 480px) {
    .section-heading h2:after {
        left: 142px
    }
}

.section-heading .section-heading-right .nav-item .nav-link:hover, .section-heading .section-heading-right .nav-item .nav-link.active {
    color: #f57b20 !important
}

.section-heading .section-heading-right .nav-item .nav-link:hover:after, .section-heading .section-heading-right .nav-item .nav-link.active:after {
    display: block
}

.section-heading .section-heading-right .nav-item .nav-link {
    position: relative;
    border: 0;
    background-color: transparent
}

.section-heading .section-heading-right .nav-item .nav-link:after {
    content: "";
    display: none;
    background-color: #f57b20;
    top: 141%;
    position: absolute;
    width: 100%;
    height: 4px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px
}

@media (max-width: 767px) {
    .section-heading .section-heading-right .nav-item .nav-link:after {
        top: 132%
    }
}

.featured-post-section .section-heading h2:after, .trending-post-section .section-heading h2:after, .popular-news-section .section-heading h2:after, .popular-tag-section .section-heading h2:after {
    left: 228px
}

@media (max-width: 767px) {
    .featured-post-section .section-heading h2:after, .trending-post-section .section-heading h2:after, .popular-news-section .section-heading h2:after, .popular-tag-section .section-heading h2:after {
        left: 180px
    }
}

@media (max-width: 480px) {
    .featured-post-section .section-heading h2:after, .trending-post-section .section-heading h2:after, .popular-news-section .section-heading h2:after, .popular-tag-section .section-heading h2:after {
        left: 162px
    }
}

.trending-post .card, .popular-news-post .card {
    border-bottom: 1px solid #e8e8e8
}

.trending-post .card .card-top, .popular-news-post .card .card-top {
    max-width: 28.19%
}

@media (max-width: 1399px) {
    .trending-post .card .card-top, .popular-news-post .card .card-top {
        max-width: 33.19%
    }
}

@media (max-width: 1199px) {
    .trending-post .card .card-top, .popular-news-post .card .card-top {
        max-width: 39%
    }
}

.trending-post .card .card-img-top, .popular-news-post .card .card-img-top {
    box-shadow: 0px 5px 30px rgba(0, 0, 0, .05);
    width: 100%;
    height: 100px;
    overflow: hidden;
    position: relative
}

@media (max-width: 991px) {
    .trending-post .card .card-img-top, .popular-news-post .card .card-img-top {
        height: auto
    }
}

.trending-post .card .card-img-top:before, .popular-news-post .card .card-img-top:before {
    position: absolute;
    content: "";
    display: block
}

.trending-post .card .card-img-top img, .popular-news-post .card .card-img-top img {
    bottom: 0;
    height: auto;
    left: 0;
    margin: auto;
    max-height: 100%;
    max-width: 100%;
    overflow: hidden;
    right: 0;
    top: 0;
    width: auto
}

.trending-post .card .card-body, .popular-news-post .card .card-body {
    padding: 0 !important
}

.trending-post .card .card-body .card-title, .popular-news-post .card .card-body .card-title {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    overflow: hidden;
    -webkit-box-orient: vertical
}

.sports-left-section .section-heading h2:after, .gallery-section .section-heading h2:after, .gallery-details-section .section-heading h2:after {
    left: 124px
}

@media (max-width: 767px) {
    .sports-left-section .section-heading h2:after, .gallery-section .section-heading h2:after, .gallery-details-section .section-heading h2:after {
        left: 100px
    }
}

@media (max-width: 480px) {
    .sports-left-section .section-heading h2:after, .gallery-section .section-heading h2:after, .gallery-details-section .section-heading h2:after {
        left: 88px
    }
}

.hot-categories-section .section-heading h2:after {
    left: 242px
}

@media (max-width: 767px) {
    .hot-categories-section .section-heading h2:after {
        left: 192px
    }
}

@media (max-width: 480px) {
    .hot-categories-section .section-heading h2:after {
        left: 175px
    }
}

.hot-categories-section .hot-categories-post .post .desc i {
    font-size: 30px
}

@media (max-width: 1199px) {
    .hot-categories-section .hot-categories-post .post .desc i {
        font-size: 20px
    }
}

.hot-categories-section .hot-categories-post .post .numbers {
    width: 40px;
    height: 40px
}

form .form-control {
    padding: 15px 20px;
    border: none;
    margin-bottom: 20px;
    box-shadow: none !important
}

.offcanvas {
    height: 100%;
    width: 400px;
    position: fixed;
    z-index: 99999;
    top: 0;
    left: 0;
    overflow-x: hidden;
    transition: .5s
}

.offcanvas .closebtn {
    position: absolute;
    top: 40px;
    right: 60px;
    font-size: 40px
}

.offcanvas .offcanvas-content {
    margin: 60px
}

.offcanvas .offcanvas-content .news-logo {
    width: 100px;
    height: 100px
}

.offcanvas .offcanvas-content .contact-desc {
    border-bottom: 1px solid #e8e8e8
}

.offcanvas .offcanvas-content .contact-desc .desc .icon {
    min-width: 50px;
    width: 50px;
    height: 50px;
    font-size: 18px
}

.offcanvas .offcanvas-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1040;
    width: 100%;
    height: 100vh;
    background-color: #32404d;
    opacity: .6
}

.theme-switch-box-wrap {
    position: fixed;
    right: 12px;
    top: 320px;
    z-index: 100
}

.theme-switch-box-wrap .theme-switch-box {
    align-items: center;
    background: #f57b20;
    border-radius: 1.5rem;
    display: grid;
    gap: 8px;
    justify-content: center;
    padding: 8px 6px
}

.theme-switch-box-wrap .theme-status {
    color: #fff;
    line-height: 1;
    text-align: center
}

.theme-switch-box-wrap .switch-label {
    display: inline-block;
    height: 36px;
    overflow: hidden;
    position: relative;
    width: 18px
}

.theme-switch-box-wrap .switch-label, .theme-switch-box-wrap .switch {
    border-radius: 1.5rem;
    transition: all .3s ease
}

.theme-switch-box-wrap .input {
    display: none
}

.theme-switch-box-wrap .switch {
    background: #000;
    bottom: 0;
    cursor: pointer;
    height: 100%;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%
}

.theme-switch-box-wrap .switch:before {
    background-color: #fff;
    border-radius: 100%;
    border-radius: 1.5rem;
    content: "";
    height: 12px;
    left: 50%;
    position: absolute;
    top: 0;
    transform: translateX(-50%) translateY(3px);
    transition: 1s cubic-bezier(0.52, 1.64, 0.37, 0.66);
    width: 12px
}

.theme-switch-box-wrap .input:checked + .switch:before {
    top: 17px;
    transition: .5s cubic-bezier(0.52, 1.64, 0.37, 0.66)
}
