@import "../scss/variables.scss";

.gallery-section {
    .gallery-post {
        width: 100%;
        height: 280px;
        box-shadow: $box-shadow;

        @media (max-width: 991px) {
            height: 240px;
        }
    }
}
