//colors
$green: #f57b20 !default;
$gray: #8a8f95 !default;
$gray-100: #e8e8e8 !default;
$light-gray: #f8f8f8 !default;
$white: #ffffff !default;
$black: #32404d !default;

//theme color variable
$primary: $green !default;
$secondary: $gray !default;
$bg-light: $light-gray !default;

$box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.05) !default;
